.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.list{
    padding: 20px;

}

body{
    padding-bottom: 50px;
    background-color: rgb(32, 28, 28);
    color: gray;
}

.post-list-element{
    padding: 10px;
    display: inline-block;
}

#distance{
    padding-top: 8px;
}