.navbar {
    margin: 0;
    padding: 0;
}

.house-container{
    display: inline-block;    
    background-color: rgb(50, 50, 50);
    margin: 1%;
}

body{
    padding-bottom: 50px;
    background-color: rgb(7, 7, 7);
    color: gray;
}

#distance{
    padding-top: 8px;
}

#id_address{
    height: 32px;
    display: inline-block;  
}

.title{
    font-size: 48px;
}

.address-block{
    display: block;
}

.house-image{
    max-width: 320px;
    max-height: 180px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.filter{
    display: none;    
    background-color: rgb(50, 50, 50);
    position: relative;
    z-index:1;
}

.filter div {
    display: inline-block;
}
.search-button{
    display: inline-block;
    height: 32px;
    margin-top: -2px;
}

#filter-button {
    margin: 1%;
    display: block;
}

#results {
    position: absolute;
    top: 160px;
    bottom: 0;
    left: 0;
    right: 0;
}

#houses{
    width: 68%;
    height: 100%;
    display: inline-block;
    overflow-y: scroll;
}

#map {
    width: 30%;
    height: 100%;
    display: inline-block;
}

.detail-image {
    width: 80%;
    margin: 0 auto;
}

#house-details {
    width: 69%;
    display: inline-block;
}

#details-wrapper {    
    position: absolute;
    top: 50px;
    bottom: 20px;
    left: 0;
    right: 0;
}

@media screen and (max-width: 640px){        
    .house-container{
        width: 100%;
    }
    
    .search-form{
        font-size: 12px;
    }
    
    #id_address{
        width:64%;
    }
}

@media screen and (min-width: 640px){        
    .house-container{
        width: 45%;
    }

    .search-form{
        font-size: 16px;
    }
    
    #id_address{
        width:72%;
    }
}

@media screen and (min-width: 1280px){    
    .house-container{
        width: 30%;
    }
    
    .search-form{
        font-size: 18px;
    }
    
    #id_address{
        width:78%;
    }
}