.navbar {
    margin: 0;
    padding: 0;
}

.navbar-toggler-btn{
    display: none;
    float: left;
    margin:10px;
    background-color:  rgb(7, 7, 7);
}

.house-container{
    display: inline-block;    
    background-color: rgb(50, 50, 50);
    margin: 1%;
}

.more-info{
    text-align: justify;
    margin: 10px;
}

body{
    padding-bottom: 50px;
    background-color: rgb(7, 7, 7);
    color: gray;
}

#distance{
    padding-top: 8px;
    font-size: 12px;
}

.address-wrapper {
    width: 70%;
    display: inline-block;
}

#id_address{
    height: 32px;
    display: inline-block;      
    padding-right: 32px;
    border-radius: 4px;
    border: none;
}

.search-button{
    display: inline-block;
    height: 32px;
    margin-top: -3px;
    margin-left: -32px;
    border: none;
}

.filter{
    display: none;    
    font-size: 12px;
    background-color: rgb(50, 50, 50);
    position: absolute;
    right: 8px;
    top: 150px;
    width: 30%;
    z-index:1;
}

.filter div {
    display: inline-block;
}

#filter-button {
    margin: 1%;
    display: inline-block;
}

.title{
    font-size: 48px;
}

.address-block{
    display: block;
    height: 3em;
    margin: 0.5em 0.1em;
}

.house-image{
    max-width: 320px;
    max-height: 180px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#results {
    position: absolute;
    top: 160px;
    bottom: 0;
    left: 0;
    right: 0;
}

#houses{
    width: 68%;
    height: 100%;
    display: inline-block;
    overflow-y: scroll;
}

.more-info{
    text-align: justify;
    margin: 10px;
}

.more-info p{
    display: inline-block;
    margin: 10px;
}

.rent-price{
    width: 100%;
}

#map {
    width: 30%;
    height: 100%;
    display: inline-block;
}

#house-detail-map {    
    width: 30%;
    height: 100%;
    display: inline-block;
}

.detail-image {
    width: 80%;
    margin: 0 auto;
}

#house-details {
    width: 69%;
    display: inline-block;
}

#details-wrapper {    
    position: absolute;
    top: 50px;
    bottom: 20px;
    left: 0;
    right: 0;
}

@media screen and (max-width: 640px){        
    .house-container{
        width: 100%;
    }
    
    .search-form{
        font-size: 12px;
    }
    
    #id_address{
        width:70%;
    }
    
    #map {
        width: 45%;
    }

    #houses {
        width: 45%;
    }
}

@media screen and (min-width: 640px){        
    .house-container{
        width: 45%;
    }

    .search-form{
        font-size: 16px;
    }
    
    #id_address{
        width:78%;
    }
}

@media screen and (max-width: 768px){
    .navbar-nav.list{
        position: absolute;
        margin: 42px;
        z-index: 2;
        display: none;
        background-color: rgb(7, 7, 7);
    }

    .navbar {
        text-align: center;
    }

    .navbar-header{
        float: right;
        margin-right: 32px;
    }

    .navbar-toggler-btn{
        display: block;
    }
    
    #house-detail-map {    
        width: 80%;
        height: 40vh;
        display: block;
    }
    
    #house-details {
        width: 80%;
        height: 30vh;
        display: inline-block;
    }
}

@media screen and (min-width: 768px){
    .navbar-nav.list{
        display: block;
    }
}

@media screen and (min-width: 1280px){    
    .house-container{
        width: 30%;
    }
    
    .search-form{
        font-size: 18px;
    }
    
    #id_address{
        width:88%;
    }
}