{% extends "base_generic.html" %}

{% load filters %}

{% block content %}
    <h1>Casas para alugar</h1>

    {% if object_list %}
    <ul>

      {% for house in object_list %}
        {% house_is_within_distance house as is_within_distance %}
        {% if is_within_distance %}
        <li>
          <a href="{{ house.get_absolute_url }}">{{ house.address }}</a> ({{house.owner}})
          <p>latitude: {{house.latitude}},  longitude: {{house.longitude}}</p>
        </li>
        {% endif %}
      {% endfor %}

    </ul>
    {% else %}
      <p>Não existem casas cadastradas.</p>
    {% endif %}       
{% endblock %}