{% extends "base_generic.html" %} 
{% load filters %} 
{% block content %}

<br />

<form action="" method="post">
  {% csrf_token %}
  <div class="container">
    <div class="row search_form">
      <div class="col-sm-10">
        {% for field in form %}
          <b>{{ field.label_tag }}</b> {{ field }}
        {% endfor %}
      </div>
      <input type="submit" value="Pesquisar" class="btn btn-default col-sm-2" />
    </div>
  </div>
</form>

{% if object_list %}
<table>
  {% for house in object_list %} 
  {% distance_to house as house_distance %} 
  {% if house_distance < distance %} 
  {% if forloop.counter0|divisibleby:2 %} 
    <tr>
  {% endif %}

    <td class="list">
      <div class='post-list-element'>
        <img width=150px height=150px src="{% if house.image %} {{ house.image.url }} {% else %}  {% endif %}">
      </div>
      <div class='post-list-element'>
        <a href="{{ house.get_absolute_url }}">{{ house }}</a>
        <a href="{{ house.owner.profile.get_absolute_url }}">({{house.owner}})</a>

        <p id='distance'> Distância: {{house_distance|floatformat:1 }} km </p>
      </div>
    </td>

  {% if forloop.counter|divisibleby:2 %}
  <tr>
  {% endif %} 
  {% endif %} 
  {% endfor %}

</table>

  {% else %}  
    <p>Não existem casas cadastradas.</p>
  {% endif %} 
{% endblock %}